.git
.venv
.tmp
**/__pycache__
**/build
**/*.egg-info
**/*.pyc
.env
gv.env*
keys
logs
models
outputs
.attachments_store
data/*
!data/config
data/config/*
!data/config/mycroft
!data/config/mycroft/**
!data/config/guardrails
!data/config/guardrails/**
*.sqlite*
*.db*
docs
skills
auth.json
auth_tickets*
auth_glossary*
**/.env
**/gv.env*
**/keys
**/*.sqlite*
**/*.db*
